:root{
    /* background color */
    --b-red-color:#ef476f;
    --b-red-logo-color:#e31a2b;
    --b-orange-color:#ffd166;
    --b-green-color:#246b0a;
    --b-blue-light-color:#118ab2;
    --b-blue-dark-color:#073b4c;
    --b-facebook:#4064ae;
    --b-instagram:#e84c4a;
    --b-mail:#a63a2f;
    --b-background:#efe8e4;
    --f-buttoncolor:#5d3d37;
    --b-buttoncolor:#cca594;
    --b-buttoncolor2:#e6d2c9;
    --t-header:#fbdaa1;
    --h-h1:#acccc4;



    /* text color */
    --t-dark-color:#2b2d42;
    --t-grey-color:#8d99ae;
    --t-white-color:#edf2f4;
    /* text size */
    --t-large:24px;
    --t-medium:18px;
    --t-small:16px;
    --t-micro:14px;
    --t-icon:25px;
    /* padding size */
    --p-padding:15px;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
.intro {
    display:flex;
    justify-content: space-between;
    padding: 0 var(--p-padding);
    background-color:white;
}
.intro .logo i{
    font-size: 60px;
    color: var(--b-red-color);
    margin-top:10px;
    margin-left:10px;
    width: 100px;
}
.intro .logandtitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro .logandtitle .realtitle{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left: var(--p-padding);
}
.intro .logandtitle .realtitle i{
    color: red;
}
.intro .logandtitle .realtitle .title{
    font-size: 34px;
    color:black;
    font-weight: bold;
}
.intro .logandtitle .realtitle .subtitle{
    font-size: var(--t-micro);
    color: var(--b-red-logo-color);
    
}
.intro .icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.intro .icon > li{
    padding-right: var(--p-padding);
    font-size:var(--t-icon);
}
.intro .icon .facebook{
    color:var(--b-facebook);
}
.intro .icon .instagram{
    color:var(--b-instagram);
}
.intro .icon .email{
    color:var(--b-mail);
}
.navigation{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: sticky;
    top:-20px;
}
.navigation div{
    background-color:#f8f9fa;
}
.navigation .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0px 30px;

}

/* .navigation .main_menu button{
    height:5vh;
    width:20vh;
    padding-top: 10px;
    font-size: 10px;
    color:var(--f-buttoncolor);
    border:0.1px dotted var(--b-blue-dark-color);
    border-radius:15%;
    text-align:center;
    font-weight: bold;
}
.navigation .main_menu button:nth-of-type(1){
    background-color: var(--b-buttoncolor);
}
.navigation .main_menu button:nth-of-type(2){
    background-color: var(--b-buttoncolor2);
}
.navigation .main_menu button:nth-of-type(3){
    background-color: var(--b-buttoncolor);
}
.navigation .main_menu button:nth-of-type(4){
    background-color: var(--b-buttoncolor2);
}
.navigation .main_menu button:nth-of-type(5){
    background-color: var(--b-buttoncolor);
}
.navigation .main_menu button:nth-of-type(6){
    background-color: var(--b-buttoncolor2);
} */
.people{
    display: flex;
    justify-content: flex-end;
    background-color: white;
}
.people >li{
    padding-right:calc(var(--p-padding)*4);
}
.people >li >span{
    color:blue;
}
.main_body{
    display:flex;
    justify-content: space-between;
    padding-top:5px;
    background-color: white;
}
.main_body .main_menu{
    flex:1;
    position: sticky;
    height: 100vh;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.main_body .main_menu .menu{
    flex:1 1 auto;
}
.main_menu .fa-bars{
    display: none;
    height:3vh;
    font-size: 15px;
    text-align: center;
    background-color: honeydew;
    color:black
}

.main_paragraph{
    flex:5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:300vh;

}
.main_paragraph .ontario{
    height: 30vh;
}
.main_paragraph .ontario h1{
    color: var(--f-buttoncolor);
    margin-top: 15vh;
}
.main_paragraph .ontario div table{
    height: 10vh;
    width: 110vh;
}
.main_paragraph .canada1{
    text-align: center;
}
#th1{
    background-color: var(--t-header);
    color:var(--f-buttoncolor);
}
#th1:nth-of-type(1){
    text-align: center;
    font-size: 15px;
}
#th1:nth-of-type(2){
    text-align: center;
    font-size: 15px;

}
#th1:nth-of-type(3){
    text-align: center;
    font-size: 15px;
}
#th1:nth-of-type(4){
    text-align: center;
    font-size: 15px;
}
#td1{
    font-size: 30px;
}
#td1:nth-of-type(1){
    text-align: center;
}
#td1:nth-of-type(2){
    text-align: center;
    color:red;
}
#td1:nth-of-type(3){
    text-align: center;
    color:green
}
#td1:nth-of-type(4){
    text-align: center;
}
#th2{
    text-align: center;
    background-color:var(--f-buttoncolor);
    color: #edecea;
}
#th2:nth-of-type(1){
}
#th2:nth-of-type(2){   
}
#th2:nth-of-type(3){
}
#th2:nth-of-type(4){
}
#td2{
    text-align: center;
    font-size: 30px;
}
#td2:nth-of-type(1){
    color:black;
}
#td2:nth-of-type(2){
    color:red;
}
#td2:nth-of-type(3){
    color:green;
}
#td2:nth-of-type(4){
    color:black
}
.main_paragraph .ontario2{
    height: 30vh;
}
.main_paragraph .ontario2 h1{
    text-align: center;
    color: var(--f-buttoncolor);
}
.main_paragraph .ontario2 div table{
    height: 10vh;
    width: 110vh;
}
#th3{
    background-color:var(--h-h1);
}
#th3:nth-of-type(1){
    text-align: center;
    font-size: 15px;
}
#th3:nth-of-type(2){
    text-align: center;
    font-size: 15px;
}
#th3:nth-of-type(3){
    text-align: center;
    font-size: 15px;
}
#th3:nth-of-type(4){
    text-align: center;
    font-size: 15px;

}
#td3{
    font-size: 30px;
}
#td3:nth-of-type(1){
    text-align: center;
}
#td3:nth-of-type(2){
    text-align: center;
    color:red;
}
#td3:nth-of-type(3){
    text-align: center;
    color:green
}
#td3:nth-of-type(4){
    text-align: center;
}

#th4{
    text-align: center;
    background-color: #464645;
    color: #edecea;
}
#th4:nth-of-type(1){
  
}
#th4:nth-of-type(2){
}
#th4:nth-of-type(3){
  
}
#th4:nth-of-type(4){

}

#td4{
    font-size:30px;
    text-align: center;
}
#td4:nth-of-type(2){
    color:red;
}
#td4:nth-of-type(3){
    color:green;
}
#td4:nth-of-type(2){
    color:red;
}
/*  */
.main_paragraph .ontario3{

}
.main_paragraph .ontario3 h1{
    text-align: center;
    margin-top: 35vh;
}
.main_paragraph .ontario3 div table{
    height: 5vh;
    width: 110vh;
}
#th5{
    background-color: var(--t-header);
}
#th5:nth-of-type(1){
    text-align: center;
    font-size: 15px;
}
#th5:nth-of-type(2){
    text-align: center;
    font-size: 15px;
}
#th5:nth-of-type(3){
    text-align: center;
    font-size: 15px;
}
#th5:nth-of-type(4){
    text-align: center;
    font-size: 15px;

}
#td5{
    font-size:30px;
}
#td5:nth-of-type(1){
    text-align: center;
}
#td5:nth-of-type(2){
    text-align: center;
    color:red;
}
#td5:nth-of-type(3){
    text-align: center;
    color:green
}
#td5:nth-of-type(4){
    text-align: center;
}
/*  */
.main_paragraph .ontario4{
    height: 20vh;
}
.main_paragraph .ontario4 h1{
    text-align: center;
}
.main_paragraph .ontario4 div table{
    height: 10vh;
    width: 110vh;
}
#th6{
    background-color: var(--f-buttoncolor);
    color:var(--t-white-color);
}
#th6:nth-of-type(1){
    text-align: center;
    font-size: 15px;
}
#th6:nth-of-type(2){
    text-align: center;
    font-size: 15px;
}
#td6{
    font-size: 30px;
}
#td6:nth-of-type(1){
    text-align: center;
}
#td6:nth-of-type(2){
    text-align: center;
    color:red;
}
.ontario5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ontario5 h1{
    margin-top:10vh;
}
.ontario6{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:10vh;
    width:120vh;
}
.ontario6 a{
    font-size: 20px;
}



.main_ad{
    flex:1;
    position: sticky;
    top:5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100vh;
}
.main_ad span{
    border: 2px solid black;
    height: 24vh;
    width:20vh;
    text-align: center;
    
}

@media screen and (max-width:768px){
html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro .logo{
    display:none;
}
.intro .icon{
    display: none;
}
.navigation{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navigation .people{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navigation .people li{
    padding-right:1px;
}
.navigation .menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
.navigation .menu button{
    width: 100%;
}
.main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_body .main_paragraph .ontario2 table{
    width: 70vh;

}

.main_body .main_paragraph .ontario2 table #th4{
    font-size: 13px;
}
.main_body .main_paragraph .ontario2 table #td4{
    font-size: 20px;
}
.main_body .main_paragraph .ontario2 table #th3{
    font-size: 13px;
}
.main_body .main_paragraph .ontario2 table #td3{
    font-size: 20px;
}

.main_body .main_paragraph .ontario table{
    width: 70vh;
}

.main_body .main_paragraph .ontario table #th1{
    font-size: 13px;
}
.main_body .main_paragraph .ontario table #td1{
    font-size: 20px;
}
.main_body .main_paragraph .ontario table #th2{
    font-size: 13px;
}
.main_body .main_paragraph .ontario table #td2{
    font-size: 20px;
}

.main_body .main_paragraph .ontario3 table{
    width: 70vh;
}
.main_body .main_paragraph .ontario3 table #th5{
    font-size: 13px;
}
.main_body .main_paragraph .ontario3 table #td5{
    font-size: 20px;
}

.main_body .main_paragraph .ontario4 table{
    width: 70vh;
}
.main_body .main_paragraph .ontario4 table #th6{
    font-size: 13px;
}
.main_body .main_paragraph .ontario4 table #td6{
    font-size: 20px;
}

.main_body .main_paragraph .ontario5 iframe{
    width: 70vh;
}
.main_ad{
    display: none;
}
.main_menu .fa-bars{
    display: block;
}
.main_menu .menu{
    display: none;
}
.main_menu .menu.active{
    display:block;
}

/* .navigation .people{
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 0;
} */


 
}

